<% if (typeof title === 'undefined') { %>
 <%=title='MembersOnly'%>
<% } %>
<header class="bg-blue-700 dark:bg-gray-800 p-2 sticky top-0">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid max-auto max-w-8xl px-2 sm:px-6 lg:px-8">
            <div class="text-left p-6 relative flex h-16 justify-around"> <!--removinging border: border border-slate-100 rounded-md dark:border-slate-50/20 -->
                <a class="text-3xl text-gray-900 dark:text-gray-300 font-bold absolute inset-y-2 left-0" href="/">
                    <span class="text-green-500 dark:text-teal-500">Members</span>Only
                </a>
                <!-- <div class="text-indigo-500">"CP is: "<%=currentPath %></div> -->
                <div id="nav-container" class="absolute inset-y-3 right-0 md:w-1/4 lg:w-1/6 flex justify-around justify-items-center items-center">
                    <% if(user != undefined) {%>
                        <div class="flex flex-col">
                            <button id="open-user-dropdown" class="flex m-4 items-center">
                                <img src=<%= user.image === null ?'/images/user.png' : `/images/${user.image}`%> alt="" class="w-7 h-7 rounded-full">
                                <span class="text-base text-gray-300">
                                    <i class="fa fa-chevron-down ml-2 thin-icon" aria-hidden="true"></i>
                                </span>
                            </button>
                            <ul id="user-dropdown" class="text-black dark:text-gray-500 py-4 text-sm hidden fixed top-16 right-auto shadow-xl rounded w-52 flex-col bg-neutral-50 dark:bg-slate-700">
                                <p class="px-4 py-2">
                                    Membership Status: <span class="font-bold capitalize text-indigo-500"><%=user.status%></span> 
                                </p>
                                <% if (user.status === 'member') { %>
                                    <a href="/membership/become-secret-member" class="px-4 py-2 dark:text-teal-500 hover:text-teal-500  hover:dark:text-teal-700 font-bold" >Join the Secret Club</a>
                                <% } %>
                                <% if (user.status === 'secret-member' && user.isAdmin === false) { %>
                                    <a href="/membership/become-admin" class="px-4 py-2 dark:text-teal-500 hover:text-teal-500  hover:dark:text-teal-700 font-bold">Are you an Admin?</a>
                                <% } %>
                                <% if (user.isAdmin === true) { %>
                                    <p class="px-4 py-2 font-bold "> <span class="text-black">Admin</span>, huh..? How does it feel to wield so much power? </p>
                                <% } %>
                            </ul>
                        </div>
                        <a class="text-base text-gray-900 dark:text-gray-300 hover:text-teal-500 dark:hover:text-teal-500 pb-1 m-4" href="/logout">Logout</a>
                    <% } else { %>
                        <a class="text-base text-gray-900 dark:text-gray-300 hover:text-teal-500 dark:hover:text-teal-500 pb-1 m-4<%= currentPath === "/login" ? 'border-b border-black dark:border-gray-500 dark:text-teal-500' : '' %>" href="/login">Login</a>
                    <a class="text-base text-gray-900 dark:text-gray-300 hover:text-teal-500 dark:hover:text-teal-500 pb-1 m-4<%= currentPath === "/signup" ? 'border-b border-black dark:border-gray-500 dark:text-teal-500' : '' %>" href="/signup">Signup</a>
                    <%}%>
                    <div id="toggle-container" class="flex h-7 w-14 rounded-full bg-gray-100 dark:bg-gray-900 align-bottom">
                        <div id="toggle-background" class="flex justify-between items-center w-full">
                            <div class="flex justify-center items-center h-6 w-6">  
                                <button id="handle-darkmode-off" type="button" class="flex justify-center items-center h-6 w-6 rounded-full bg-yellow-300 text-gray-900 dark:bg-transparent dark:text-gray-200"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="flex justify-center items-center h-6 w-6">  
                                <button id="handle-darkmode-on" type="button" class="flex justify-center items-center h-6 w-6 rounded-full bg-transparent text-gray-900 dark:bg-white text dark:text-gray-900"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<script type="module">
    window.addEventListener("DOMContentLoaded", () => {
      const lightBtn = document.getElementById("handle-darkmode-off");
      const darkBtn = document.getElementById("handle-darkmode-on");

      const handleDarkmodeOff = () => {
        localStorage.setItem("prefers_color_scheme_set", "light");
        document.documentElement.classList.remove("dark");
      };

      const handleDarkmodeOn = () => {
        localStorage.setItem("prefers_color_scheme_set", "dark");
        document.documentElement.classList.add("dark");
      };

      if (localStorage.prefers_color_scheme_set === "dark" || (!("prefers_color_scheme_set" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      lightBtn.addEventListener("click", handleDarkmodeOff);
      darkBtn.addEventListener("click", handleDarkmodeOn);
    });

    const openUserDropdown = document.getElementById("open-user-dropdown");
    const userDropdown = document.getElementById("user-dropdown");

    // will only not be null when user is logged in
    if (openUserDropdown) {
    openUserDropdown.addEventListener("click", () => {
        userDropdown.classList.toggle("hidden");
    });
    }
</script>