  
    <div class="pt-4 pb-6 px-4">
      <div class="flex justify-center place-content-center place-items-center top-0 row-span-3 ">
        <div class="w-1/2 ">
        
        <% if(typeof user === 'undefined' || typeof user.username === 'undefined') { %>
          <h2 class="text-2xl mb-1">Welcome to <span class="font-bold"> <%= title %> </span> </h2>
          <p class="textbase font-bold text-green-500 dark:text-teal-300 mb-3.5">Sign up or Log in to see who wrote each message and when.</p>
        <% } else { %>
          <div class="">
            <h2 class="text-2xl left-0 text-green-500 dark:text-gray-200 ">Welcome back, <span class="font-bold text-black dark:text-teal-600"><%=user.username%></span></h2>
            <a href="/message" class="font-bold inline-flex items-center gap-2 bg-teal-500 py-1.5 px-3 mt-2 rounded-md  text-black dark:text-gray-200 hover:bg-teal-700 focus:ring-2 focus:ring-gray-700"><i class="fa fa-plus" aria-hidden="true"></i>
              New Message
            </a>
          </div>
        <% } %>
        </div>
      </div>
      
      <div id="msg-container" class="grid grid-cols-1 gap-2 place-content-center place-items-center overflow-y-auto pb-10 mb-8 mt-4 ">
        <p class="text-center text-3xl font-bold border-b w-1/2 p-2 border-b-slate-700 dark:text-gray-200 -mb-3  ">Member Messages</p>
        <% if (typeof user != 'undefined') { %>
          <% for( let i = 0; i < messages.length; i++ ) { %>
            <div class="m-4 p-4 row-span-3 flex justify-between border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 sm:w-1/2 ">
              <div id="card-body flex">
                <h3 id="card-title" class="text-lg lg:text-2xl font-bold dark:text-teal-500"> <%=messages[i].title%></h3>
                <p id="card-text" class="text-base lg:text-lg" ><%=messages[i].message%></p>
                <p id="posted-by" class="text-sm pt-4 mt-4 align-botton">
                  <% if (user.status === 'secret-member' || user.status === 'admin') { %> 
                    Posted by:
                    <span class="text-green-500 dark:text-teal-500"> <%=messages[i].author[0].username%></span>,
                     on: <%= messages[i].timestamp_formatted %>
                  <% } else { %>
                    Posted by: <span class="dark:text-slate-900">█████</span>,  Date: <span class="dark:text-slate-900">███ █</span>,<span class="dark:text-slate-900">████</span>
                    (Join the secret club to see!)
                    <% } %>
                </p>
              </div>
                <% if (user && user.isAdmin === true) { %>
                  <div class="align-bottom place-self-end min-w-fit">
                    <a class="btn p-1 pb-1 px-2 bg-red-700 dark:bg-indigo-600 font-bold rounded-lg text-white dark:text-gray-200 hover:bg-indigo-800 dark:hover:bg-indigo-800 focus:ring-2 focus:ring-gray-700 " href="<%=messages[i].url%>/delete">Delete</a>
                  </div>
                <% } %>
            </div>
          <% } %>
        <% } else { %>
          <!-- for each message in messages  -->
          <% for( let i = 0; i < messages.length; i++ ) { %>
            <div class="text-base m-4 p-4 row-span-3 border-2 rounded border-black dark:bg-slate-700 dark:border-slate-50/20 w-1/2">
              <div id="card-body flex">
                <h3 id="card-title" class="text-lg lg:text-2xl font-bold dark:text-teal-500"> <%=messages[i].title%></h3>
                <p id="card-text" class="text-base lg:text-lg">(sign up to see whole message)</p>
                <p id="posted-by" class="text-sm pt-4 mt-4 align-botton">
                    Posted by: <span class="dark:text-slate-900">█████</span>,  Date: <span class="dark:text-slate-900">███ █</span>,<span class="dark:text-slate-900">████</span>
                </p>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
        
    </div>
    
<!-- <script nonce="rAnd0m">
  function closeModal(){
    let modal = document.getElementById('info-popup-overlay')
    modal.classList.add('hidden');
  }
</script> -->
<!-- </html> -->
